[submodule "bundle/vimtodo"]
	path = bundle/vimtodo
	url = https://github.com/mivok/vimtodo.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/xoria256"]
	path = bundle/xoria256
	url = https://github.com/vim-scripts/xoria256.vim.git
